$themes: (
  light: (
    colorHeaderFooter: #fff,
    colorText: #000,
    colorBackground: #f8f8fa,
  ),
  dark: (
    colorHeaderFooter: #36394c,
    colorText: #eff2f7,
    colorBackground: #222736,
  ),
);