.sidebar {
  width: 200px;
  transition: width 0.3s;
  overflow-x: hidden;  /* Prevents horizontal overflow */
  overflow-y: auto;    /* Allows vertical scrolling if necessary */
}

.sidebar-item {
  color: #fff;  /* This sets the text color to white */
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.icon {
  margin-right: 10px;
}

.title {
  flex-grow: 1;
  white-space: nowrap; /* Prevents text wrapping into the next line */

}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);  /* Slightly lightened on hover */
}
