.topbar {
    width: 100%;
    background-color: #ffff;
    padding: 10px 20px; /* Adjusted padding to reduce height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0; 
}

.icon-button {
    background-color: #ffffff;  /* Corrected color value */
    border: 1px solid #E0E0E0;
    border-radius: 50%; 
    outline: none;
    cursor: pointer;
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.icon-button:focus, .icon-button:hover {
    background: #E0E0E0;
    box-shadow: none;
}

.icon-group {
    display: flex; /* Ensuring buttons are side by side */
    align-items: center;
}

.profile-btn {
    margin-left: 0px;
}

.notification-btn {
    margin-right: 10px;
}
.power-btn {
    margin-right: 20px;
}

.topbar-logo {
    max-height: 40px;  /* Adjust this value based on how tall you want the logo to appear */
    width: auto;
    margin-right: 10px;  /* adds a bit of space between logo and title */
}

.dark-mode {
    background-color: #000; /* Dark background color */
    color: white; /* White text color */
}

.icon-button-dark {
    background: #141414; /* Dark background for buttons */
    border: 1px solid #666666; /* Darker border for buttons */
    color: white; /* White icon color */
}

.icon-button-dark:focus, .icon-button-dark:hover {
    background: #666666; /* Even darker background for button focus/hover */
    box-shadow: none;
}
