
.signup-button-container {
    width: 100%;
    display: inline-block;
    background: linear-gradient(to right, purple, darkviolet);
    border-radius: 4px; /* Adjust as needed */
    overflow: hidden; /* This keeps the gradient within the button's border-radius */
    transition: all 1s ease;
  }
  
  .signup-button {
    width: 100%;
    background-color: transparent; /* Use the container's gradient background */
   
    border: none;
    color: white; /* Adjust as needed */
  }
  
  .signup-button-container:hover .signup-button {
    background: linear-gradient(to right, darkviolet, blue);
    
  }
  
  .signin-link p {
    text-align: center;
    color: grey;
  }
  
  .signin-link a {
    color: grey;
    text-decoration: none;
  }
  
  .signin-link a:hover {
    text-decoration: underline;
  }
  

  .question-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
  }

  
/* Adjust the padding and margin of the card container to reduce space above */
.question-card {
  margin-top: 0; /* Adjust this value as needed */
  padding: 24px; /* Adjust the padding as needed */
}

/* Style for option buttons to have them in one column */
.options-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* This adds space between the buttons */
}

/* Adjust the button width to take the full container width */
.option-button {
  width: 100%; /* This will make each button take full width of the container */
  justify-content: flex-start; /* Align text to the left */
}

  
  .question-title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .options-group .ant-radio-button-wrapper {
    height: 50px;
    line-height: 50px;
    margin: 8px 0;
    font-size: 16px;
  }
  
  .options-group .ant-radio-button-wrapper:first-child {
    border-radius: 22px 22px 0 0;
  }
  
  .options-group .ant-radio-button-wrapper:last-child {
    border-radius: 0 0 22px 22px;
  }
  
  .options-group .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
  }
  
  .options-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: #1890ff;
    color: white;
  }
  
  .options-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    background-color: #40a9ff;
  }
  
  .options-group .ant-radio-button-wrapper span {
    display: inline-flex;
    align-items: center;
  }
  
  .options-group .ant-radio-button-wrapper span i {
    margin-right: 8px;
  }

  .confirm-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }